/and.sam
/cmp.sam
/equals.sam
/nand.sam
/neg.sam
/nor.sam
/not.sam
/or.sam
/pos.sam
/SaM-2.6.3.jar
/SAM-functions.sam
/SAM-functions2.sam
/sam1.sam
/sam2.sam
/sam3.sam
/sam4.sam
/sam4_5.sam
/sam5.sam
/sam5_2.sam
/xor.sam